<h1> Enter new menu </h1>
<%= form_for :menu, :url => '/menu' do |f| %>
	
	Menu Name :    <%= f.text_field 'menu' %> 
	<br>
	<br>
	Restaurant Name :   <%= f.text_field 'restaurant' %>
	<br>
	<br>
	<%= f.submit 'Insert' %>

<% end %>

